@model SuperheroCreatorProject.Models.Superhero



@{
    ViewData["Title"] = "Create";
}

<h1>Add a superhero</h1>

<form class="form-group" asp-action="Create">
    <label></label>
    <input />

    <label></label>
    <input />

    <label></label>
    <input />

    <label></label>
    <input />

    <label></label>
    <input />

    <label></label>
    <input />


</form>
